HotelReservationSystem/HotelReservationSeClient/xml-resources/web-service-references/PartnerWebService/wsdl/localhost_8080/PartnerWebService/PartnerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerWebService/PartnerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="doLogin">
<part name="parameters" element="tns:doLogin"/>
</message>
<message name="doLoginResponse">
<part name="parameters" element="tns:doLoginResponse"/>
</message>
<message name="InvalidCredentialException">
<part name="fault" element="tns:InvalidCredentialException"/>
</message>
<message name="logInPartnerAccount">
<part name="parameters" element="tns:logInPartnerAccount"/>
</message>
<message name="logInPartnerAccountResponse">
<part name="parameters" element="tns:logInPartnerAccountResponse"/>
</message>
<message name="retrieveAllReservations">
<part name="parameters" element="tns:retrieveAllReservations"/>
</message>
<message name="retrieveAllReservationsResponse">
<part name="parameters" element="tns:retrieveAllReservationsResponse"/>
</message>
<message name="createGuestForPartner">
<part name="parameters" element="tns:createGuestForPartner"/>
</message>
<message name="createGuestForPartnerResponse">
<part name="parameters" element="tns:createGuestForPartnerResponse"/>
</message>
<message name="PartnerAccountExistsException">
<part name="fault" element="tns:PartnerAccountExistsException"/>
</message>
<message name="getReservationByGuest">
<part name="parameters" element="tns:getReservationByGuest"/>
</message>
<message name="getReservationByGuestResponse">
<part name="parameters" element="tns:getReservationByGuestResponse"/>
</message>
<message name="ReservationNotFoundException">
<part name="fault" element="tns:ReservationNotFoundException"/>
</message>
<message name="createReservation">
<part name="parameters" element="tns:createReservation"/>
</message>
<message name="createReservationResponse">
<part name="parameters" element="tns:createReservationResponse"/>
</message>
<message name="getReservationById">
<part name="parameters" element="tns:getReservationById"/>
</message>
<message name="getReservationByIdResponse">
<part name="parameters" element="tns:getReservationByIdResponse"/>
</message>
<message name="getRatesUsed">
<part name="parameters" element="tns:getRatesUsed"/>
</message>
<message name="getRatesUsedResponse">
<part name="parameters" element="tns:getRatesUsedResponse"/>
</message>
<message name="getAvailableRoomTypeAndNumber">
<part name="parameters" element="tns:getAvailableRoomTypeAndNumber"/>
</message>
<message name="getAvailableRoomTypeAndNumberResponse">
<part name="parameters" element="tns:getAvailableRoomTypeAndNumberResponse"/>
</message>
<portType name="PartnerWebService">
<operation name="doLogin">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/doLoginRequest" message="tns:doLogin"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/doLoginResponse" message="tns:doLoginResponse"/>
<fault message="tns:InvalidCredentialException" name="InvalidCredentialException" wsam:Action="http://ws.session.ejb/PartnerWebService/doLogin/Fault/InvalidCredentialException"/>
</operation>
<operation name="logInPartnerAccount">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/logInPartnerAccountRequest" message="tns:logInPartnerAccount"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/logInPartnerAccountResponse" message="tns:logInPartnerAccountResponse"/>
<fault message="tns:InvalidCredentialException" name="InvalidCredentialException" wsam:Action="http://ws.session.ejb/PartnerWebService/logInPartnerAccount/Fault/InvalidCredentialException"/>
</operation>
<operation name="retrieveAllReservations">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllReservationsRequest" message="tns:retrieveAllReservations"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllReservationsResponse" message="tns:retrieveAllReservationsResponse"/>
</operation>
<operation name="createGuestForPartner">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/createGuestForPartnerRequest" message="tns:createGuestForPartner"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/createGuestForPartnerResponse" message="tns:createGuestForPartnerResponse"/>
<fault message="tns:PartnerAccountExistsException" name="PartnerAccountExistsException" wsam:Action="http://ws.session.ejb/PartnerWebService/createGuestForPartner/Fault/PartnerAccountExistsException"/>
</operation>
<operation name="getReservationByGuest">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getReservationByGuestRequest" message="tns:getReservationByGuest"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getReservationByGuestResponse" message="tns:getReservationByGuestResponse"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/getReservationByGuest/Fault/ReservationNotFoundException"/>
</operation>
<operation name="createReservation">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/createReservationRequest" message="tns:createReservation"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/createReservationResponse" message="tns:createReservationResponse"/>
</operation>
<operation name="getReservationById">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getReservationByIdRequest" message="tns:getReservationById"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getReservationByIdResponse" message="tns:getReservationByIdResponse"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/getReservationById/Fault/ReservationNotFoundException"/>
</operation>
<operation name="getRatesUsed">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getRatesUsedRequest" message="tns:getRatesUsed"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getRatesUsedResponse" message="tns:getRatesUsedResponse"/>
</operation>
<operation name="getAvailableRoomTypeAndNumber">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getAvailableRoomTypeAndNumberRequest" message="tns:getAvailableRoomTypeAndNumber"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getAvailableRoomTypeAndNumberResponse" message="tns:getAvailableRoomTypeAndNumberResponse"/>
</operation>
</portType>
<binding name="PartnerWebServicePortBinding" type="tns:PartnerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="doLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidCredentialException">
<soap:fault name="InvalidCredentialException" use="literal"/>
</fault>
</operation>
<operation name="logInPartnerAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidCredentialException">
<soap:fault name="InvalidCredentialException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createGuestForPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerAccountExistsException">
<soap:fault name="PartnerAccountExistsException" use="literal"/>
</fault>
</operation>
<operation name="getReservationByGuest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="createReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReservationById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getRatesUsed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAvailableRoomTypeAndNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PartnerWebService">
<port name="PartnerWebServicePort" binding="tns:PartnerWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerWebService/PartnerWebService"/>
</port>
</service>
</definitions>